<main class="home-page">
  <div class="home-page__item">
    <a routerLink="/work/wish">
      <img
        class="home-page__img top"
        ngSrc="/images/projects/wish.gif"
        alt="wish"
        height="864"
        width="864"
      />
    </a>
    <p>
      <strong>Creative copywriter </strong>
    </p>
    <p>
      I have a <span class="second-font">unique & effective</span> style of work. Extensive
      experience in digital: from <a routerLink="/work/jbl" class="second-font">social media</a> to
      <a routerLink="/work/pepsico" class="second-font">special projects</a>
    </p>
    <app-contact>
      <strong>Sounds fun? </strong>
    </app-contact>
  </div>
  <div class="home-page__item">
    <a routerLink="/work/kia">
      <img
        class="home-page__img right"
        ngSrc="/images/projects/kia.webp"
        alt="kia"
        height="346"
        width="346"
      />
    </a>
  </div>
</main>
<footer>
  <app-brands></app-brands>
</footer>
