.home-page {
  display: flex;
  column-gap: 20px;
  background-image: url('/images/bg/12.webp'), url('/images/bg/3.webp');
  background-repeat: no-repeat;
  background-position:
    top right 70px,
    top 50px left 5%;
  background-size: 400px, 50px;

  @media (max-width: 800px) {
    background-position:
      top right 70px,
      bottom 100px left 5%;
    flex-direction: column;
    row-gap: 20px;
  }

  @media (max-width: 500px) {
    background-position:
      bottom -30px left 5%,
      top 10% right;
  }

  &__img.top {
    display: block;
    margin: 0 auto;
    max-width: 240px;
  }

  &__img.right {
    min-width: 346px;

    @media (max-width: 800px) {
      display: block;
      margin: 0 auto;
    }

    @media (max-width: 500px) {
      margin-right: 0;
      min-width: initial;
    }
  }
}
