<main class="pepsico">
  <div class="pepsico__item">
    <p>Not all projects that seem cool always reach the audience.</p>
    <p>
      The brand asked to create a project where the
      <span class="second-font">packaging</span> of the product would become the point of
      communication.
    </p>
    <p>
      There were several options in the work. One of them was a hotline where a cow would debunk
      myths about milk. You can see the project's logic and details
      <a [href]="pptx" target="_blank">here</a>.
    </p>
    <img
      class="pepsico__img bottom"
      ngSrc="/images/pepsico/2.webp"
      alt="pepsico"
      height="303"
      width="416"
    />
  </div>
  <div class="pepsico__item">
    <img
      class="pepsico__img right"
      ngSrc="/images/pepsico/1.webp"
      alt="pepsico"
      height="600"
      width="273"
    />
  </div>
</main>
