@use '../../../variables';
@use '../../../smartgrid';

.video-project {
  @include smartgrid.row-flex();
  padding-bottom: 100px;
  background-image: url('/images/bg/12.webp'), url('/images/bg/3.webp');
  background-repeat: no-repeat;
  background-position:
    left 15% bottom,
    right bottom;
  background-size: 300px, 100px;

  @media (max-width: 800px) {
    row-gap: 20px;
    background-image: url('/images/bg/3.webp');
    padding-bottom: 150px;
    background-position: center bottom;
    background-size: 100px;
  }

  &__item {
    @include smartgrid.col();
    @include smartgrid.col-size(12);

    @media (max-width: 800px) {
      @include smartgrid.col-size(24);
    }
  }

  p:first-child {
    margin-top: 0;
  }

  .gift {
    padding-left: 30px;
    height: 27px;
    line-height: 30px;
    background-image: url('/images/gift.svg');
    background-repeat: no-repeat;
    background-size: 25px 27px;
    font-size: 15px;
    font-family: var(--font-second);
    color: var(--color-red);
  }
}
