.about-page {
  font-size: 16px;
  display: flex;
  column-gap: 20px;
  background-image: url('/images/bg/12.webp');
  background-repeat: no-repeat;
  background-position: right -30px bottom -10px;
  padding-bottom: 130px;

  @media (max-width: 800px) {
    flex-direction: column;
    row-gap: 20px;

    &__item:first-child {
      text-align: center;
    }
  }

  @media (max-width: 800px) {
    background-position: right -30px bottom -10px;
    padding-bottom: 300px;
  }

  @media (max-width: 400px) {
    background-size: 320px;
  }

  img {
    min-width: 280px;
  }

  p:first-child {
    margin-top: 0;
  }

  ul {
    padding-left: 15px;
    margin-top: 0;
  }
}
