@use 'fonts';
@use 'variables';
@use 'smartgrid';

body {
  margin: 0;
  font-size: 20px;
  min-width: 320px;
  background-color: var(--color-bg);
  font-family: var(--font-main);

  main {
    margin-bottom: 40px;
  }

  video,
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: inherit;
  }

  .second-font {
    font-family: var(--font-second);
    font-weight: 700;
  }

  .wrapper {
    @include smartgrid.wrapper();
  }

  .youtube-player {
    .youtube-player-placeholder,
    iframe {
      width: 100% !important;
      height: auto !important;
      aspect-ratio: 16 / 9;
    }
  }
}
