<main class="projects">
  <div class="projects__title">
    <span> Selection of <span class="second-font">exciting</span> projects. </span>
  </div>
  <div class="projects__container">
    <app-project-card
      class="projects__item"
      name="wish"
      image="wish.gif"
      link="Wish x Young Glory entrance"
      description="Christmas COVID special"
    ></app-project-card>
    <app-project-card
      class="projects__item"
      name="jbl"
      image="jbl.webp"
      link="JBL 75 years"
      description="Digital special"
    ></app-project-card>
    <app-project-card
      class="projects__item"
      name="kia"
      image="kia.webp"
      link="KIa MOHAVE"
      description="Celebrity endorsement"
    ></app-project-card>
    <app-project-card
      class="projects__item"
      name="afcon"
      image="afcon.webp"
      link="AFCON"
      description="Social impact"
    ></app-project-card>
    <app-project-card
      class="projects__item"
      name="pepsico"
      image="pepsico.webp"
      link="Domik v derevne (Pepsico)"
      description="Packaging activation"
    ></app-project-card>
    <app-project-card
      class="projects__item"
      name="meller"
      image="meller.gif"
      link="Meller film"
      description="OLV"
    ></app-project-card>
  </div>
</main>
